settings set target.source-map /rustc/07dca489ac2d933c78d3c5158e3f43beefeb02ce/ /home/me/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/
settings set stop-line-count-before 10
settings set stop-line-count-after 10
